.benefits-section{
    position: relative;
     
    &::before{
        content: url(../img/vector2.svg);
        position: absolute;
        bottom: rem(-25px);
        left: 0;

        @include phones{
            display: none;
        }
    }
}