.benefits{
    display: flex;
    margin-top: rem(67px);

    @include phones{
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones{
        padding: 0;
    }

    &::before{
        content: url(../img/combinedshape.svg);
        position: absolute;
        top: rem(58px);
        right: 0;
        transform: translateX(50%);

        @include phones{
            display: none;
        }
    }

    &:first-child{
        padding-left: 0;
    }

    &:last-child{
        padding-right: 0;
    
     &::before{
         display: none;
        }
}
}