
.form{
    display: flex;
    margin-top: 50px;
}

.form__col{
    flex: 1;

    &:last-child{
        margin-right: 159px;
        margin-left: 30px;
    }
}

.form__col--one{
   margin-left: 170px;
}


.form__row{
    display: flex;
    margin-bottom: 13px;

}

.form__block{
    flex: 1;
    margin-right: 13px;


    &:last-child{
        margin-right: 0;
    }
}

.form__input{
    width: 100%;
    border: solid 3px transparent;
    padding: 17px 11px;
    border-radius: 5px;

    &--textarea{
        width: 440px;
        height: 151px;
        resize: none;
    }

 &:focus{
        border-color: red;
        outline: none;
    }
}

.form__controls{
    display: flex;
}

.form__btns{
    margin-top: 43px;
}