header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.phone-number{
    font-family: "Play";
    font-size: rem(18px);
    text-decoration: none;
    display: flex;
    align-items: center;
}


.phone-number__icon-elem{
    width: 12x;
    height: rem(12px);
    margin-right: rem(8px);
}

.phone-number.header__phone-number{
    @include tablets{
        display: none;
    }
}
