.reviews-section{
    position: relative;

    &::before{
        content: url(../img/ellipse7.svg);
        position: absolute;
        bottom: rem(-25px);
        left: 14%;
    }
    @include tablets{
        min-height: 64rem;
    }

}