@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.sound {
  width: 60px;
}

.charging {
  width: 60px;
}

.plug {
  width: 60px;
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.75rem;
  color: #292929;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 62.5rem;
  }
}
.hero::before {
  content: url(../img/rectangle14.svg);
  position: absolute;
  bottom: -1.875rem;
  right: 2%;
}
@media screen and (max-width: 768px) {
  .hero::before, .hero::after {
    display: none;
  }
}

.hero__title-section {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 6%;
  }
  .hero__title-section::before {
    content: url(../img/beats.svg);
    margin-bottom: 5.125rem;
    margin-top: 23.3125rem;
  }
}

.hero__icons-section {
  margin-top: -19rem;
  margin-bottom: -6.375rem;
}
@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 2rem 0 2.8125rem 0;
  background: url(../img/ellipse5.png) left 96% top 74%/52% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-family: "Play";
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.3125rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.3125rem;
  margin-bottom: 2.5rem;
  padding-right: 10%;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
    margin-bottom: 1.8125rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 13%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phone-number {
  font-family: "Play";
  font-size: 1.125rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  font-size: 1.125rem;
  margin-right: 1.75rem;
  margin-bottom: 0.625rem;
}
.menu__itemlast-child {
  margin-right: 1.375rem;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.menu--vertical {
  background: black;
  padding: 86px;
}

.vertical-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-menu__item {
  font-size: 2.25rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 2.875rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  margin-right: 0.625rem;
}

.feature__icon-elem {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 10.6875rem;
}

.feature__text {
  font-family: "Play";
  max-width: 7.625rem;
}

.btn {
  font-size: 1.125rem;
  font-family: "Play";
  font-weight: bold;
  padding: 0.9375rem 2.625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  background: #E01F3D;
  color: white;
  text-decoration: none;
  border: none;
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 1.5rem 2.6rem;
  }
}
.btn:hover {
  background: #9A9A9A;
  color: black;
}
.btn--theme--red {
  padding: 1.3125rem 2.5625rem;
  font-size: 1rem;
}
.btn--theme--transperent {
  background: transparent;
  text-transform: none;
  font-weight: normal;
  font-size: 1rem;
  margin-left: -1.5625rem;
}
@media screen and (max-width: 768px) {
  .btn--theme--transperent {
    margin-left: 0;
  }
}
.btn--theme--transperent:hover {
  background: transparent;
  color: #CA1B36;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Play";
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.625rem;
}

.headline__subtitle {
  color: #666666;
  padding: 0 26%;
  line-height: 1.1;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 2%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.1875rem;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
  }
}
.benefits__item::before {
  content: url(../img/combinedshape.svg);
  position: absolute;
  top: 3.625rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__title {
  font-size: 1.5rem;
  font-family: "Play";
  font-weight: bold;
  margin-top: 0.875rem;
  margin-bottom: 0.1875rem;
}

.benefit__decs {
  font-family: "Play";
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 1.25rem;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.875rem;
  height: 7.875rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
}
.benefits-section::before {
  content: url(../img/vector2.svg);
  position: absolute;
  bottom: -1.5625rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    display: none;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 3.125rem 2.8125rem 2.125rem;
  margin-bottom: 1.0625rem;
  position: relative;
  overflow: hidden;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.75rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
  }
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
    margin-bottom: 1.25rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.4375rem;
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.375rem;
  margin-top: 1.375rem;
  font-family: "Play";
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-right: 2.4375rem;
    margin-bottom: 0.8125rem;
  }
}

.reviews__text {
  margin-bottom: 3.1875rem;
  font-family: "Play";
  color: #666666;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 1.5625rem;
  }
}

.reviews__author {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "Play";
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__list {
  position: relative;
  min-height: 280px;
}

.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.reviews__switcher-item {
  width: 5rem;
  height: 5rem;
  border: 0.3125rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.reviews__switcher-item--active {
  border-color: #E01F3D;
}
.reviews__switcher-item:hover {
  border-color: #E01F3D;
}

.reviews__switcher-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive__avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-section {
  position: relative;
}
.reviews-section::before {
  content: url(../img/ellipse7.svg);
  position: absolute;
  bottom: -1.5625rem;
  left: 14%;
}
@media screen and (max-width: 768px) {
  .reviews-section {
    min-height: 64rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 2.5rem;
}
.form__col:last-child {
  margin-right: 0;
  margin-left: 1.875rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-top: 0;
  }
  .form__col:last-child {
    margin-right: 0;
    margin-left: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8125rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.8125rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: solid 0.1875rem transparent;
  padding: 1.0625rem 0.6875rem;
  border-radius: 0.3125rem;
}
.form__input--textarea {
  width: 100%;
  height: 9.375rem;
  resize: none;
}
.form__input:focus {
  border-color: red;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.625rem 0.6875rem;
  }
  .form__input--textarea {
    height: 5.5rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  margin-top: 2.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .form__btns {
    margin-left: 2.0625rem;
  }
}

.order-section {
  background: #181818;
  color: white;
  font-family: "PLay";
}
@media screen and (max-width: 768px) {
  .order-section {
    min-height: 62.5rem;
  }
}

.order-container {
  min-height: 100%;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.9375rem;
  margin-top: 1.125rem;
}
.radio--checkbox .radio__visible {
  border-radius: 15%;
}
.radio--checkbox .radio__visible::before {
  background: url(../img/checkmark.svg) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background: white;
  margin-right: 0.5625rem;
}
.radio__visible::before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background: #E01F3D;
  position: absolute;
  display: none;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #666666;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 1.5rem;
  height: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 0.25rem;
  border-radius: 10px;
}

.footer {
  font-family: "play";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.4375rem 0;
  background: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts {
  font-style: normal;
  font-size: 1.25rem;
  color: #010101;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .contacts__place {
    margin-bottom: 0.8125rem;
  }
}

.map-section {
  position: relative;
  margin-top: -1.375rem;
}
@media screen and (max-width: 480px) {
  .map-section {
    margin-top: -12rem;
  }
}

.map-img {
  min-width: 100%;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -45px;
}
@media screen and (max-width: 480px) {
  .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 3.6875rem;
  }
}

.socials__link {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  background-size: contain;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link:hover::before {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__item--icon--telegram .socials__link:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__item--icon--telegram .socials__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../img/spriteicon.png") -290px -10px;
}

.socials__item--icon--telegram .socials__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  opacity: 0;
  background: url("../img/spriteicon.png") -234px -10px;
}

.socials__item--icon--vk .socials__link:hover::before {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__item--icon--vk .socials__link:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__item--icon--vk .socials__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../img/spriteicon.png") -402px -10px;
}

.socials__item--icon--vk .socials__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  opacity: 0;
  background: url("../img/spriteicon.png") -346px -10px;
}

.socials__item--icon--fb .socials__link:hover::before {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__item--icon--fb .socials__link:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__item--icon--fb .socials__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../img/spriteicon.png") -66px -10px;
}

.socials__item--icon--fb .socials__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  opacity: 0;
  background: url("../img/spriteicon.png") -10px -10px;
}

.socials__item--icon--insta .socials__link:hover::before {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__item--icon--insta .socials__link:hover::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__item--icon--insta .socials__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../img/spriteicon.png") -178px -10px;
}

.socials__item--icon--insta .socials__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  opacity: 0;
  background: url("../img/spriteicon.png") -122px -10px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.slider-section {
  background: #f8faf9;
  font-family: "Play";
}

.slider-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.slider {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background: 0 0;
}

.bx-wrapper img {
  margin: 0 auto;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 769px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.slider__pic {
  width: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 5%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  margin-top: 48px;
}

@media screen and (max-width: 769px) {
  .slider__pic {
    width: 80%;
    margin-bottom: 1.875rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 481px) {
  .slider__pic {
    margin-bottom: 0;
    margin-right: 0;
    width: 60%;
  }
}
.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 38%;
  margin-right: 1.875rem;
}

@media screen and (max-width: 769px) {
  .slider__content {
    width: 75%;
    margin-right: 0;
    text-align: center;
  }
}
@media screen and (max-width: 481px) {
  .slider__content {
    width: 95%;
  }
}
.slider__title {
  font-size: 2.25rem;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  font-weight: bold;
  width: 114%;
  margin-top: -18px;
  line-height: 1.1;
}

@media screen and (max-width: 769px) {
  .slider__title {
    font-size: 2.25rem;
    font-weight: bold;
  }
}
.slider__text {
  margin-bottom: 1.225rem;
  line-height: 1.3;
}

@media screen and (max-width: 769px) {
  .slider__text {
    font-size: 1.25rem;
    margin-bottom: 0.9375rem;
  }
}
.slider__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.875rem;
}

@media screen and (max-width: 769px) {
  .slider__desc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.slider__desc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 5.3rem;
}

.slider__desc-item span {
  color: #000;
  font-weight: 700;
}

.slider__desc-item:last-child {
  margin-right: 0;
}

.slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 14px;
}

@media screen and (max-width: 769px) {
  .slider__btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.slider__price {
  font-size: 36px;
  color: #151515;
  text-transform: uppercase;
  line-height: 1;
  vertical-align: middle;
  font-weight: 300;
  margin-right: 5%;
  margin-top: 8px;
}

@media screen and (max-width: 481px) {
  .slider__price {
    font-size: 2.8125rem;
  }
}
.slider-btn {
  margin: 0 auto;
  position: absolute;
  z-index: 10;
  top: 50%;
}

.slider-btn--left {
  left: -50px;
}

.slider-btn--right {
  right: -50px;
}

@media screen and (max-width: 769px) {
  .slider-btn {
    top: 29%;
  }
  .slider-btn--left {
    left: 4.375rem;
  }
  .slider-btn--right {
    right: 4.375rem;
  }
}
@media screen and (max-width: 481px) {
  .slider-btn {
    top: 18%;
  }
  .slider-btn--left {
    left: 0;
  }
  .slider-btn--right {
    right: 0;
  }
  .slider-btn img {
    width: 50%;
  }
}
.option {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  background: #9A9A9A;
  border-radius: 5px;
  width: 5.625rem;
  height: 5.625rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.875rem;
}

.option:hover {
  background: #656464;
}

.option:hover ~ .option__open {
  display: block;
}

@media screen and (max-width: 769px) {
  .option {
    display: none;
  }
}
.option__open {
  display: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.949);
  width: 16.75rem;
  position: absolute;
  top: 0;
  right: -16.75rem;
}

.option-list {
  padding: 1.25rem 1.25rem 1.25rem 1.875rem;
}

.option-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.625rem;
}

.option-item__icon {
  width: 2.375rem;
  height: 2.375rem;
  fill: #000;
  text-align: center;
  margin-right: 1.4375rem;
}

.option-item__name,
.option-item__weight {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.option-item__weight {
  margin-left: auto;
}

.team-container {
  min-height: 41.875rem;
}

@media screen and (max-width: 481px) {
  .team-container {
    min-height: 35.5rem;
  }
}
.section__title-team {
  margin-bottom: 2.5rem;
  margin-top: 1.875rem;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 769px) {
  .team--version--desktop {
    display: none;
  }
}
.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team--version--mobile {
  display: none;
}

@media screen and (max-width: 769px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.team__item {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 2%;
  text-align: center;
  max-width: 14.4444rem;
}

.team__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 769px) {
  .team__item {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
.team__member {
  height: 18rem;
  background-color: #f1f1f1;
  margin-bottom: 1.25rem;
}

.team__member img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 481px) {
  .team__member {
    height: 11.5rem;
    width: 9.0625rem;
    margin: 0 auto 1.25rem;
  }
}
.team__name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #000;
  font-size: 1.3125rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  position: relative;
}

.team__name--active .team__content {
  height: auto;
}

.team__triangle {
  position: absolute;
  top: 45%;
  right: -1.25rem;
  border: 5px solid transparent;
  border-top: 5px solid #0b4d3c;
}

.team__triangle.open {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  top: 25%;
}

.team__content {
  height: 0;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  overflow: hidden;
  width: 13.75rem;
}

.team__position {
  color: #000;
}

.team__about {
  font-weight: 300;
}